In [1]:
n = int(input("Enter the number of employees: "))

salaries = []
for i in range(n):
    salary = (input(f"Enter salary of employee {i+1}: "))
    salaries.append(salary)
    
min_salary = min(salaries)
max_salary = max(salaries)
print("Minimum salary:", min_salary)
print("Maximum salary:", max_salary)

Enter the number of employees:  3
Enter salary of employee 1:  300000
Enter salary of employee 2:  200000
Enter salary of employee 3:  100000

Minimum salary: 100000
Maximum salary: 300000

In [2]:
t=tuple()
t=t+("PYTHON",)
print(t)
print(len(t))
tl=(10,20,30)
t2=tl+t
print(len(t2))
t3=tl*2
print(t3)

('PYTHON',)
1
4
(10, 20, 30, 10, 20, 30)

In [6]:
employees = {}
n = int(input("Enter number of employees: "))
for i in range(n):
    name = input("Enter employee name: ")
    number = input("Enter employee number: ")
    employees[name] = number

print("\nEmployee Dictionary:")
print(employees)

Enter number of employees:  2
Enter employee name:  ari
Enter employee number:  1
Enter employee name:  ammu
Enter employee number:  4

Employee Dictionary:
{'ari': '1', 'ammu': '4'}

In [7]:
tup1=('ram',1,1223)
print(tup1)

('ram', 1, 1223)

In [8]:
tup1=('ram',)
print(tup1)
print(type(tup1))

('ram',)
<class 'tuple'>

In [9]:
tup=('ram')
print(type(tup))

<class 'str'>